// galaxy fold: 280px
// galaxy s5: 360px
// $screen-sm: 576px +
// $screen-md: 768px +
// $screen-lg: 992px +
// $screen-xl: 1200px +

//992px-1200px
@media (max-width: 1200px)
    .wrapper
        width: 90%
    header
        section.top
            .section-header-logo
                margin-bottom: 20px
        section.swiper
            margin-top: 100px
    main 
        section.firstBlock
            .figures
                img
                    width: 100%
        section.grafic
            .grafic-inner
                column-gap: 15px
                .grafic-img
                    img
                        width: 100%
        section.services
            padding: 45px 0
            .centerServiceBlock
                .serviceBlock
                    .title
                        font-size: 18px
        section.counters
            .inner-wrapper
                .counter-block
                    padding: 60px 0
        section.map
            .maps
                grid-template-columns: auto auto
                grid-template-rows: auto auto
                row-gap: 30px

        

//768px - 991px
@media (max-width: 991px)
    .common-title
        text-align: center
    header
        .top
            flex-direction: column
            align-items: center
            nav
        section.swiper
            grid-template-columns: auto
            grid-template-rows: auto auto
            // row-gap: 15px
            .control
                justify-content: center 
                order: 2
            .swiper-container
                order: 1
    main
        section.firstBlock
            grid-template-columns: 100%
            grid-template-rows: auto auto
            row-gap: 20px
            .content
                order: 2
                justify-self: center
            .figures
                order: 1
                justify-self: center
        section.grafic
            .grafic-inner
                padding: 50px 0
                grid-template-columns: 100%
                grid-template-rows: auto auto
                row-gap: 20px
                .grafic-img
                    justify-self: center
        section.contact
            .contact-inner
                flex-direction: column
                align-items: center
                .main-text
                    text-align: center
                    line-height: 30px
                    margin-bottom: 10px
        section.services
            .centerServiceBlock
                flex-direction: column
                align-items: center
        section.best
            grid-template-columns: auto
            grid-row: auto auto
            row-gap: 20px
            .figure
                justify-self: center
        section.quote
            padding: 60px 0
        section.map
            margin: 50px 0
            .maps
                grid-template-columns: auto
                grid-row: auto auto auto
        
        
//576px - 767px
@media (max-width: 767px)
    header
        section.top
            display: grid
            grid-template-rows: auto auto
            grid-template-columns: auto auto
            .section-header-logo
                grid-column: 1 / 2
                grid-row: 1 / 2
            nav.section-header__nav
                grid-column: 1 / 2
                grid-row: 2 / 3
                flex-direction: column
                align-items: flex-start
                display: none
                transition: 2
                a
                    margin-right: 0
                a:not(:last-child)
                    margin-bottom: 10px
            .burgerIcon
                display: block
                font-size: 25px
                grid-column: 2 / 3
                grid-row: 1 / 2
                a
                    color: white
                    text-decoration: none
        section.swiper
            margin-top: 0px
    main
        section.counters
            .inner-wrapper
                flex-direction: column
                align-items: center
                .counter-block
                    padding: 10px 0
//360px - 575px
@media (max-width: 575px)
    .common-title
        font-size: 20px
    header
        height: auto
        padding-bottom: 50px
        section.swiper
            .swiper-container
                width: 100%
                .swiper-slide
                    img
                        width: 90%
                        text-align: center
    main
        section.services
            .centerServiceBlock
                .serviceBlock
                    width: 320px
        section.best
            .figure
                img 
                    width: 100%
        section.map
            .maps
                .map-block
                    width: 320px
                    .map-block__img
                        img
                            width: 100%
            
@media (max-width: 350px)
    main
        section.services
            .centerServiceBlock
                .serviceBlock
                    width: 240px
        section.map
            .maps
                .map-block
                    width: 250px
                    height: 380px
    footer 
        .footer-inner
            flex-direction: column
            align-items: center
            line-height: 25px


