@font-face {
  font-family: 'Myriad Pro';
  src: url(../fonts/MyriadPro-Regular.woff);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Helvetica Rounded LT - Black";
  src: url("../fonts/Helvetica-Rounded-LT-Black.woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Segoe UI Emoji';
  src: url("../fonts/seguiemj.woff");
  font-weight: normal;
  font-style: normal; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  width: 100%; }

body {
  font-family: Montserrat;
  width: 100%; }

.scrollToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  opacity: 0.3; }
  .scrollToTop img {
    width: 100px;
    display: inline; }

.wrapper {
  width: 1200px; }

.common-title {
  color: #002e5b;
  font-size: 31px;
  font-weight: 700;
  line-height: 31px;
  text-transform: uppercase; }

.common-subtitle {
  margin-top: 25px;
  color: #666666;
  font-family: "Segoe UI Emoji";
  font-size: 21px;
  font-weight: 400;
  line-height: 25px; }

.common-main-text {
  margin-top: 25px;
  height: auto;
  color: #333333;
  font-family: "Segoe UI Emoji";
  font-size: 16px;
  font-weight: 400;
  line-height: 25px; }

.common-more {
  margin-top: 10px;
  width: auto;
  color: #002e5b;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;
  text-decoration: underline; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

header {
  background: url(../img/background.png) center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 896px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  width: 100%;
  padding-top: 50px; }
  header section.top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    header section.top .section-header-logo {
      color: #fde428;
      font-size: 45px;
      font-weight: 700; }
      header section.top .section-header-logo_subtile {
        color: #fff;
        font-size: 12px;
        letter-spacing: 3.6px;
        text-transform: uppercase; }
    header section.top nav {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      header section.top nav a {
        display: inline-block;
        margin-right: 30px;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 14px;
        letter-spacing: 0.56px; }
    header section.top .burgerIcon {
      display: none; }
  header section.swiper {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 220px; }
    header section.swiper .control {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      color: #fde428;
      font-family: "Myriad Pro";
      font-size: 18px;
      text-transform: uppercase; }
      header section.swiper .control a span {
        color: #fde428; }
      header section.swiper .control span {
        display: inline-block;
        margin-right: 20px; }
      header section.swiper .control span:first-child, header section.swiper .control span:last-child {
        font-size: 18px; }
    header section.swiper .swiper-container {
      width: 510px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      header section.swiper .swiper-container .swiper-wrapper {
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }

main {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  main section.firstBlock {
    display: grid;
    grid-template-columns: auto auto;
    -webkit-column-gap: 139px;
       -moz-column-gap: 139px;
            column-gap: 139px; }
    main section.firstBlock .content {
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center; }
    main section.firstBlock .figures {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      justify-self: end; }
  main section.grafic {
    background-color: #f4f4f4;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    justify-items: center;
    width: 100%; }
    main section.grafic .grafic-inner {
      padding: 100px 0;
      display: grid;
      grid-template-columns: auto auto;
      -webkit-column-gap: 65px;
         -moz-column-gap: 65px;
              column-gap: 65px; }
  main section.contact {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #002e5b;
    padding: 30px 0; }
    main section.contact .contact-inner {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      main section.contact .contact-inner .main-text {
        height: auto;
        color: #ffffff;
        font-family: Montserrat;
        font-size: 21px;
        font-weight: 400;
        line-height: 51px; }
      main section.contact .contact-inner .button input {
        height: 44px;
        border: none;
        width: 161px;
        border-radius: 3px;
        background-color: #fde428;
        text-transform: uppercase;
        color: #002e5b;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer; }
  main section.services {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 95px 0; }
    main section.services .centerBlock {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 40px; }
      main section.services .centerBlock .subtitle {
        text-align: center; }
    main section.services .centerServiceBlock {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 100%; }
      main section.services .centerServiceBlock .serviceBlock {
        width: 370px;
        height: auto;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; }
        main section.services .centerServiceBlock .serviceBlock .figure {
          width: auto;
          height: 190px;
          background-color: #69d2e7; }
          main section.services .centerServiceBlock .serviceBlock .figure:nth-of-type(2) {
            background-color: #add478; }
        main section.services .centerServiceBlock .serviceBlock:nth-of-type(2) .figure {
          background-color: #add478; }
        main section.services .centerServiceBlock .serviceBlock:nth-of-type(3) .figure {
          background-color: #f49f77; }
        main section.services .centerServiceBlock .serviceBlock .title {
          font-size: 21px;
          padding-top: 35px; }
        main section.services .centerServiceBlock .serviceBlock .subtitle {
          font-size: 16px; }
  main section.counters {
    background-color: #002e5b;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    main section.counters .inner-wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      main section.counters .inner-wrapper .counter-block {
        padding: 120px 0; }
        main section.counters .inner-wrapper .counter-block .counter-block__title {
          height: 36px;
          color: #ffffff;
          font-size: 48px;
          line-height: 60px;
          text-transform: uppercase;
          letter-spacing: 12px;
          text-align: center; }
        main section.counters .inner-wrapper .counter-block .counter-block__subtitle {
          color: #ffffff;
          font-family: "Segoe UI Emoji";
          font-size: 14px;
          text-transform: uppercase;
          letter-spacing: 2.8px;
          text-align: center;
          margin-top: 30px; }
  main section.best {
    display: grid;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    grid-template-columns: auto auto;
    grid-row: auto;
    -webkit-column-gap: 100px;
       -moz-column-gap: 100px;
            column-gap: 100px;
    line-height: 0.7; }
    main section.best .content {
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center; }
  main section.quote {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #002e5b;
    padding: 120px 0;
    width: 100%; }
    main section.quote .inner-wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      main section.quote .inner-wrapper .quote__title {
        color: #ffffff;
        font-family: "Helvetica Rounded LT - Black";
        font-size: 48px;
        line-height: 37.94px;
        text-align: center; }
      main section.quote .inner-wrapper .quote__main-text {
        color: #ffffff;
        font-family: "Myriad Pro";
        font-size: 20px;
        line-height: 37.94px;
        text-align: center; }
      main section.quote .inner-wrapper .quote__subtitle {
        color: #ffffff;
        font-size: 14px;
        font-weight: 700;
        line-height: 47.92px;
        text-align: center;
        text-transform: uppercase; }
  main section.map {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 100px 0; }
    main section.map .top {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      main section.map .top .title {
        text-align: center; }
      main section.map .top .subtitle {
        text-align: center; }
    main section.map .maps {
      margin-top: 45px;
      grid-template-columns: auto auto auto;
      -webkit-column-gap: 30px;
         -moz-column-gap: 30px;
              column-gap: 30px;
      display: grid; }
      main section.map .maps .map-block {
        width: 370px;
        height: 455px;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.07); }
        main section.map .maps .map-block__content {
          padding-left: 37px; }
          main section.map .maps .map-block__content-title {
            margin-top: 39px;
            color: #002e5b;
            font-size: 16px;
            font-weight: 700;
            line-height: 13.82px;
            text-transform: uppercase; }
          main section.map .maps .map-block__content-contact {
            margin-top: 15px;
            color: #002e5b;
            font-family: "Segoe UI Emoji";
            font-size: 16px;
            font-weight: 400;
            line-height: 21px;
            width: 230px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex; }
            main section.map .maps .map-block__content-contact span {
              margin-right: 25px; }
            main section.map .maps .map-block__content-contact:last-child span {
              margin-left: -3px; }

footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #002e5b;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 0; }
  footer .footer-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #ffffff;
    font-size: 16px;
    line-height: 45px; }
    footer .footer-inner .footer-content span {
      margin-left: 5px;
      color: #fde52c; }
    footer .footer-inner .footer-icons span {
      margin-right: 15px; }
  footer .contacts {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    footer .contacts p {
      color: white;
      padding: 0;
      text-align: left; }
      footer .contacts p:nth-of-type(1) {
        margin-right: 5px; }
      footer .contacts p:nth-of-type(2) {
        margin-left: 5px; }
    footer .contacts a {
      margin-left: 0;
      padding: 0; }
    footer .contacts img {
      width: 25px;
      opacity: 0.3; }

@media (max-width: 1200px) {
  .wrapper {
    width: 90%; }
  header section.top .section-header-logo {
    margin-bottom: 20px; }
  header section.swiper {
    margin-top: 100px; }
  main section.firstBlock .figures img {
    width: 100%; }
  main section.grafic .grafic-inner {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px; }
    main section.grafic .grafic-inner .grafic-img img {
      width: 100%; }
  main section.services {
    padding: 45px 0; }
    main section.services .centerServiceBlock .serviceBlock .title {
      font-size: 18px; }
  main section.counters .inner-wrapper .counter-block {
    padding: 60px 0; }
  main section.map .maps {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    row-gap: 30px; } }

@media (max-width: 991px) {
  .common-title {
    text-align: center; }
  header .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  header section.swiper {
    grid-template-columns: auto;
    grid-template-rows: auto auto; }
    header section.swiper .control {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2; }
    header section.swiper .swiper-container {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1; }
  main section.firstBlock {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    row-gap: 20px; }
    main section.firstBlock .content {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2;
      justify-self: center; }
    main section.firstBlock .figures {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1;
      justify-self: center; }
  main section.grafic .grafic-inner {
    padding: 50px 0;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    row-gap: 20px; }
    main section.grafic .grafic-inner .grafic-img {
      justify-self: center; }
  main section.contact .contact-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    main section.contact .contact-inner .main-text {
      text-align: center;
      line-height: 30px;
      margin-bottom: 10px; }
  main section.services .centerServiceBlock {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  main section.best {
    grid-template-columns: auto;
    grid-row: auto auto;
    row-gap: 20px; }
    main section.best .figure {
      justify-self: center; }
  main section.quote {
    padding: 60px 0; }
  main section.map {
    margin: 50px 0; }
    main section.map .maps {
      grid-template-columns: auto;
      grid-row: auto auto auto; } }

@media (max-width: 767px) {
  header section.top {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto; }
    header section.top .section-header-logo {
      grid-column: 1 / 2;
      grid-row: 1 / 2; }
    header section.top nav.section-header__nav {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
      display: none;
      -webkit-transition: 2;
      transition: 2; }
      header section.top nav.section-header__nav a {
        margin-right: 0; }
      header section.top nav.section-header__nav a:not(:last-child) {
        margin-bottom: 10px; }
    header section.top .burgerIcon {
      display: block;
      font-size: 25px;
      grid-column: 2 / 3;
      grid-row: 1 / 2; }
      header section.top .burgerIcon a {
        color: white;
        text-decoration: none; }
  header section.swiper {
    margin-top: 0px; }
  main section.counters .inner-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    main section.counters .inner-wrapper .counter-block {
      padding: 10px 0; } }

@media (max-width: 575px) {
  .common-title {
    font-size: 20px; }
  header {
    height: auto;
    padding-bottom: 50px; }
    header section.swiper .swiper-container {
      width: 100%; }
      header section.swiper .swiper-container .swiper-slide img {
        width: 90%;
        text-align: center; }
  main section.services .centerServiceBlock .serviceBlock {
    width: 320px; }
  main section.best .figure img {
    width: 100%; }
  main section.map .maps .map-block {
    width: 320px; }
    main section.map .maps .map-block .map-block__img img {
      width: 100%; } }

@media (max-width: 350px) {
  main section.services .centerServiceBlock .serviceBlock {
    width: 240px; }
  main section.map .maps .map-block {
    width: 250px;
    height: 380px; }
  footer .footer-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 25px; } }

/*# sourceMappingURL=style.css.map */
