@media (max-width: 1400px) {
  .counters-outer-wrapper .counters-inner-wrapper {
    margin-left: 100px; } }

@media (max-width: 1307px) {
  .counters-outer-wrapper .counters-inner-wrapper {
    margin-left: 150px; } }

@media (max-width: 1254px) {
  .firstBlock-outer-wrapper .firstBlock-inner-wrapper .firstBlock-content__title {
    padding-top: 50px; }
  .firstBlock-outer-wrapper .firstBlock-inner-wrapper .firstBlock-figures img {
    width: 359.1px;
    height: auto; }
  section.services-outer-wrapper .services-inner-wrapper {
    margin-left: 20px; }
    section.services-outer-wrapper .services-inner-wrapper .services-block {
      width: 290px; }
      section.services-outer-wrapper .services-inner-wrapper .services-block .services-block__figure {
        height: 150px; }
      section.services-outer-wrapper .services-inner-wrapper .services-block .services-block__title {
        font-size: 19px; }
  section.grafic-outer-wrapper .grafic-inner-wrapper .grafic-img {
    margin-right: 20px; }
    section.grafic-outer-wrapper .grafic-inner-wrapper .grafic-img img {
      width: 371.7px;
      height: auto;
      padding-left: 20px; }
  .contact-outer-wrapper .contact-inner-wrapper .contact-main-text {
    margin-right: 200px; }
  .counters-outer-wrapper .counters-inner-wrapper {
    margin-left: 100px; }
    .counters-outer-wrapper .counters-inner-wrapper .counter-block {
      margin-right: 100px; }
  section.best-outer-wrapper .best-inner-wrapper .best-figure {
    margin-right: 20px; }
    section.best-outer-wrapper .best-inner-wrapper .best-figure img {
      width: 347.9px;
      height: 367.5px; }
  section.best-outer-wrapper .best-inner-wrapper .best-content {
    padding-top: 50px; }
  .map-outer-wrapper .map-inner-wrapper {
    width: 800px; }
    .map-outer-wrapper .map-inner-wrapper .map-block {
      width: 277.5px;
      height: auto;
      padding-bottom: 50px; }
      .map-outer-wrapper .map-inner-wrapper .map-block__img img {
        width: 277.5px;
        height: auto; }
  footer.footer-outer-wrapper .footer-inner-wrapper .footer-content {
    margin-right: 650px; } }

@media (max-width: 992px) {
  header .nav-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    header .nav-wrapper .section-header__nav {
      padding-top: 25px; }
  .firstBlock-outer-wrapper .firstBlock-inner-wrapper {
    display: grid;
    grid-template-columns: auto; }
    .firstBlock-outer-wrapper .firstBlock-inner-wrapper .firstBlock-content {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2; }
      .firstBlock-outer-wrapper .firstBlock-inner-wrapper .firstBlock-content__title {
        padding-top: 25px; }
      .firstBlock-outer-wrapper .firstBlock-inner-wrapper .firstBlock-content__more {
        padding-bottom: 25px; }
    .firstBlock-outer-wrapper .firstBlock-inner-wrapper .firstBlock-figures {
      padding-top: 25px;
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1; }
  section.grafic-outer-wrapper .grafic-inner-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: auto;
    row-gap: 25px; }
  .contact-outer-wrapper .contact-inner-wrapper .contact-main-text {
    margin-right: 30px; }
  section.services-outer-wrapper .services-inner-wrapper__small {
    padding: 50px 0 40px; }
  section.services-outer-wrapper .services-inner-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 30px; }
  .counters-outer-wrapper {
    margin-top: 50px; }
    .counters-outer-wrapper .counters-inner-wrapper {
      margin-left: 30px; }
      .counters-outer-wrapper .counters-inner-wrapper .counter-block {
        padding: 60px 0;
        margin-right: 30px; }
  section.best-outer-wrapper .best-inner-wrapper {
    display: grid;
    grid-template-columns: auto;
    padding: 50px 0; }
    section.best-outer-wrapper .best-inner-wrapper .best-content {
      padding-top: 25px; }
  .quote-outer-wrapper {
    padding: 60px 30px; }
  .map-outer-wrapper {
    padding-top: 50px; }
    .map-outer-wrapper .map-inner-wrapper {
      display: grid;
      grid-template-columns: auto auto;
      row-gap: 30px;
      padding: 42px 0 50px; }
  footer.footer-outer-wrapper .footer-inner-wrapper .footer-content {
    margin-right: 350px; } }

@media (max-width: 768px) {
  header .nav-wrapper {
    text-align: center; }
    header .nav-wrapper .section-header__nav-wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      header .nav-wrapper .section-header__nav-wrapper li:not(:first-child) {
        margin-top: 10px; }
  .firstBlock-outer-wrapper .firstBlock-inner-wrapper {
    padding-left: 50px; }
  section.grafic-outer-wrapper .grafic-inner-wrapper {
    margin-left: 50px; }
    section.grafic-outer-wrapper .grafic-inner-wrapper .grafic-content__main-text {
      width: inherit; }
  .contact-outer-wrapper .contact-inner-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .contact-outer-wrapper .contact-inner-wrapper .contact-main-text {
      margin-right: 0;
      margin-bottom: 20px; }
  section.services-outer-wrapper .services-inner-wrapper__small {
    padding: 25px 0 40px; }
  section.services-outer-wrapper .services-inner-wrapper {
    display: grid;
    grid-template-columns: auto;
    row-gap: 20px; }
  .counters-outer-wrapper {
    margin-top: 25px; }
    .counters-outer-wrapper .counters-inner-wrapper {
      margin-left: 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .counters-outer-wrapper .counters-inner-wrapper .counter-block {
        padding: 0px 0;
        margin-right: 0; }
        .counters-outer-wrapper .counters-inner-wrapper .counter-block .counter-block__subtitle {
          margin-top: 5px; }
  section.best-outer-wrapper .best-inner-wrapper {
    margin-left: 50px; }
  .map-outer-wrapper .map-inner-wrapper {
    grid-template-columns: auto; }
  footer.footer-outer-wrapper .footer-inner-wrapper .footer-content {
    margin-right: 250px; } }

@font-face {
  font-family: 'Myriad Pro';
  src: url(../fonts/MyriadPro-Regular.woff);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Helvetica Rounded LT - Black";
  src: url("../fonts/Helvetica-Rounded-LT-Black.woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Segoe UI Emoji';
  src: url("../fonts/seguiemj.woff");
  font-weight: normal;
  font-style: normal; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: Montserrat; }

header {
  background: url(../img/background.png) no-repeat center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 896px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  padding: 0 50px; }
  header .header-wrapper {
    width: 1170px;
    margin-top: 40px; }
    header .header-wrapper .nav-wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      header .header-wrapper .nav-wrapper .section-header-logo {
        color: #fde428;
        font-size: 45px;
        font-weight: 700; }
        header .header-wrapper .nav-wrapper .section-header-logo_subtile {
          color: #fff;
          font-size: 12px;
          letter-spacing: 3.6px;
          text-transform: uppercase; }
      header .header-wrapper .nav-wrapper .section-header__nav-wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        list-style: none;
        min-width: 660px;
        height: 32px;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        header .header-wrapper .nav-wrapper .section-header__nav-wrapper li a {
          color: #fff;
          text-transform: uppercase;
          text-decoration: none;
          font-size: 14px;
          letter-spacing: 0.56px; }
    header .header-wrapper .header-content-wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-top: 310px;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      position: relative;
      border: 3px solid red; }
      header .header-wrapper .header-content-wrapper .section-header__slider {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-top: 90px;
        height: 10px;
        width: 200px;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        color: #fde428;
        font-family: "Myriad Pro";
        font-size: 12px;
        text-transform: uppercase; }
        header .header-wrapper .header-content-wrapper .section-header__slider span {
          display: inline-block;
          margin-right: 20px; }
        header .header-wrapper .header-content-wrapper .section-header__slider span:first-child, header .header-wrapper .header-content-wrapper .section-header__slider span:last-child {
          font-size: 21px; }
      header .header-wrapper .header-content-wrapper .products {
        margin-right: 220px;
        width: 277px;
        color: #ffffff;
        font-family: Montserrat;
        font-size: 51px;
        font-weight: 700;
        line-height: 51px; }
        header .header-wrapper .header-content-wrapper .products .more {
          height: 16px;
          margin-top: 20px;
          margin-left: 120px;
          color: #fde428;
          font-size: 21px;
          font-weight: 700;
          line-height: 50.97px;
          text-transform: uppercase;
          text-decoration: underline; }
      header .header-wrapper .header-content-wrapper .ring {
        position: absolute;
        right: 10px;
        top: -85px; }

.firstBlock-outer-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .firstBlock-outer-wrapper .firstBlock-inner-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: inherit; }
    .firstBlock-outer-wrapper .firstBlock-inner-wrapper .firstBlock-content {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .firstBlock-outer-wrapper .firstBlock-inner-wrapper .firstBlock-content__title {
        width: 480px;
        color: #002e5b;
        font-size: 31px;
        font-weight: 700;
        line-height: 31px;
        text-transform: uppercase;
        padding-top: 100px; }
      .firstBlock-outer-wrapper .firstBlock-inner-wrapper .firstBlock-content__subtitle {
        margin-top: 25px;
        width: 460px;
        color: #666666;
        font-family: "Segoe UI Emoji";
        font-size: 21px;
        font-weight: 400;
        line-height: 25px; }
      .firstBlock-outer-wrapper .firstBlock-inner-wrapper .firstBlock-content__main-text {
        margin-top: 25px;
        width: 580px;
        height: auto;
        color: #333333;
        font-family: "Segoe UI Emoji";
        font-size: 16px;
        font-weight: 400;
        line-height: 25px; }
      .firstBlock-outer-wrapper .firstBlock-inner-wrapper .firstBlock-content__more {
        margin-top: 10px;
        width: auto;
        color: #002e5b;
        font-size: 16px;
        font-weight: 700;
        line-height: 25px;
        text-transform: uppercase;
        text-decoration: underline; }
    .firstBlock-outer-wrapper .firstBlock-inner-wrapper .firstBlock-figures {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }

section.grafic-outer-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f4f4f4; }
  section.grafic-outer-wrapper .grafic-inner-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: inherit;
    padding-top: 100px;
    padding-bottom: 100px; }
    section.grafic-outer-wrapper .grafic-inner-wrapper .grafic-img {
      margin-right: 70px; }
    section.grafic-outer-wrapper .grafic-inner-wrapper .grafic-content {
      height: auto; }
      section.grafic-outer-wrapper .grafic-inner-wrapper .grafic-content__title {
        width: 480px;
        color: #002e5b;
        font-size: 31px;
        font-weight: 700;
        line-height: 31px;
        text-transform: uppercase; }
      section.grafic-outer-wrapper .grafic-inner-wrapper .grafic-content__subtitle {
        margin-top: 25px;
        width: 460px;
        color: #666666;
        font-family: "Segoe UI Emoji";
        font-size: 21px;
        font-weight: 400;
        line-height: 25px; }
      section.grafic-outer-wrapper .grafic-inner-wrapper .grafic-content__main-text {
        margin-top: 25px;
        width: 580px;
        height: auto;
        color: #333333;
        font-family: "Segoe UI Emoji";
        font-size: 16px;
        font-weight: 400;
        line-height: 25px; }
      section.grafic-outer-wrapper .grafic-inner-wrapper .grafic-content__more {
        margin-top: 10px;
        width: auto;
        color: #002e5b;
        font-size: 16px;
        font-weight: 700;
        line-height: 25px;
        text-transform: uppercase;
        text-decoration: underline; }

.contact-outer-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #002e5b;
  padding: 30px 0; }
  .contact-outer-wrapper .contact-inner-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: inherit; }
    .contact-outer-wrapper .contact-inner-wrapper .contact-main-text {
      height: auto;
      color: #ffffff;
      font-family: Montserrat;
      font-size: 21px;
      font-weight: 400;
      line-height: 51px;
      margin-right: 470px; }
    .contact-outer-wrapper .contact-inner-wrapper .contact-button input {
      height: 44px;
      border: none;
      width: 161px;
      border-radius: 3px;
      background-color: #fde428;
      text-transform: uppercase;
      color: #002e5b;
      font-size: 16px;
      font-weight: 700;
      cursor: pointer; }

section.services-outer-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  section.services-outer-wrapper .services-inner-wrapper__small {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 100px 0 40px; }
    section.services-outer-wrapper .services-inner-wrapper__small .services-title {
      width: 480px;
      color: #002e5b;
      font-size: 31px;
      font-weight: 700;
      line-height: 31px;
      text-transform: uppercase;
      text-align: center; }
    section.services-outer-wrapper .services-inner-wrapper__small .services-subtitle {
      margin-top: 25px;
      width: 460px;
      color: #666666;
      font-family: "Segoe UI Emoji";
      font-size: 21px;
      font-weight: 400;
      line-height: 25px;
      width: auto;
      text-align: center; }
  section.services-outer-wrapper .services-inner-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    section.services-outer-wrapper .services-inner-wrapper .services-block {
      width: 370px;
      height: auto;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-right: 30px; }
      section.services-outer-wrapper .services-inner-wrapper .services-block__figure {
        width: auto;
        height: 190px;
        background-color: #f49f77; }
      section.services-outer-wrapper .services-inner-wrapper .services-block__title {
        width: 480px;
        color: #002e5b;
        font-size: 31px;
        font-weight: 700;
        line-height: 31px;
        text-transform: uppercase;
        width: auto;
        font-size: 21px;
        padding-top: 35px; }
      section.services-outer-wrapper .services-inner-wrapper .services-block__subtitle {
        margin-top: 25px;
        width: 460px;
        color: #666666;
        font-family: "Segoe UI Emoji";
        font-size: 21px;
        font-weight: 400;
        line-height: 25px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: auto; }
      section.services-outer-wrapper .services-inner-wrapper .services-block:first-child .services-block__figure {
        background-color: #69d2e7; }
      section.services-outer-wrapper .services-inner-wrapper .services-block:nth-of-type(2) .services-block__figure {
        background-color: #add478; }

.counters-outer-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100vw;
  background-color: #002e5b;
  margin-top: 100px; }
  .counters-outer-wrapper .counters-inner-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: inherit; }
    .counters-outer-wrapper .counters-inner-wrapper .counter-block {
      padding: 120px 0;
      margin-right: 185px; }
      .counters-outer-wrapper .counters-inner-wrapper .counter-block .counter-block__title {
        width: 152px;
        height: 36px;
        color: #ffffff;
        font-size: 48px;
        line-height: 60px;
        text-transform: uppercase;
        letter-spacing: 12px;
        text-align: center; }
      .counters-outer-wrapper .counters-inner-wrapper .counter-block .counter-block__subtitle {
        color: #ffffff;
        font-family: "Segoe UI Emoji";
        font-size: 14px;
        line-height: 48px;
        text-transform: uppercase;
        letter-spacing: 2.8px;
        text-align: center;
        margin-top: 30px; }

section.best-outer-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100vw; }
  section.best-outer-wrapper .best-inner-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: inherit; }
    section.best-outer-wrapper .best-inner-wrapper .best-figure {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-right: 100px; }
    section.best-outer-wrapper .best-inner-wrapper .best-content {
      padding-top: 100px;
      z-index: 2; }
      section.best-outer-wrapper .best-inner-wrapper .best-content__title {
        width: 480px;
        color: #002e5b;
        font-size: 31px;
        font-weight: 700;
        line-height: 31px;
        text-transform: uppercase; }
      section.best-outer-wrapper .best-inner-wrapper .best-content__subtitile {
        margin-top: 25px;
        width: 460px;
        color: #666666;
        font-family: "Segoe UI Emoji";
        font-size: 21px;
        font-weight: 400;
        line-height: 25px; }
      section.best-outer-wrapper .best-inner-wrapper .best-content__main-text {
        margin-top: 25px;
        width: 580px;
        height: auto;
        color: #333333;
        font-family: "Segoe UI Emoji";
        font-size: 16px;
        font-weight: 400;
        line-height: 25px; }
      section.best-outer-wrapper .best-inner-wrapper .best-content__more {
        margin-top: 10px;
        width: auto;
        color: #002e5b;
        font-size: 16px;
        font-weight: 700;
        line-height: 25px;
        text-transform: uppercase;
        text-decoration: underline; }

.quote-outer-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100vw;
  background-color: #002e5b;
  padding: 120px 0; }
  .quote-outer-wrapper .quote-inner-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: inherit;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 900px; }
    .quote-outer-wrapper .quote-inner-wrapper .quote__title {
      color: #ffffff;
      font-family: "Helvetica Rounded LT - Black";
      font-size: 48px;
      line-height: 37.94px;
      text-align: center; }
    .quote-outer-wrapper .quote-inner-wrapper .quote__main-text {
      color: #ffffff;
      font-family: "Myriad Pro";
      font-size: 20px;
      line-height: 37.94px;
      text-align: center; }
    .quote-outer-wrapper .quote-inner-wrapper .quote__subtitle {
      color: #ffffff;
      font-size: 14px;
      font-weight: 700;
      line-height: 47.92px;
      text-align: center;
      text-transform: uppercase; }

.map-outer-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 95px; }
  .map-outer-wrapper .map-outer-wrapper-small .title {
    width: 480px;
    color: #002e5b;
    font-size: 31px;
    font-weight: 700;
    line-height: 31px;
    text-transform: uppercase;
    width: auto;
    text-align: center; }
  .map-outer-wrapper .map-outer-wrapper-small .subtitle {
    margin-top: 25px;
    width: 460px;
    color: #666666;
    font-family: "Segoe UI Emoji";
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
    width: auto;
    text-align: center; }
  .map-outer-wrapper .map-inner-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 42px 0 100px; }
    .map-outer-wrapper .map-inner-wrapper .map-block {
      width: 370px;
      height: 455px;
      box-shadow: 0 3px 8px rgba(0, 0, 0, 0.07);
      margin-right: 30px; }
      .map-outer-wrapper .map-inner-wrapper .map-block__content {
        padding-left: 37px; }
        .map-outer-wrapper .map-inner-wrapper .map-block__content-title {
          margin-top: 39px;
          color: #002e5b;
          font-size: 16px;
          font-weight: 700;
          line-height: 13.82px;
          text-transform: uppercase; }
        .map-outer-wrapper .map-inner-wrapper .map-block__content-contact {
          margin-top: 15px;
          color: #002e5b;
          font-family: "Segoe UI Emoji";
          font-size: 16px;
          font-weight: 400;
          line-height: 21px;
          width: 230px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex; }
          .map-outer-wrapper .map-inner-wrapper .map-block__content-contact span {
            margin-right: 25px; }
          .map-outer-wrapper .map-inner-wrapper .map-block__content-contact:last-child span {
            margin-left: -3px; }

footer.footer-outer-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #002e5b; }
  footer.footer-outer-wrapper .footer-inner-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #ffffff;
    font-size: 16px;
    line-height: 45px;
    padding: 30px 0; }
    footer.footer-outer-wrapper .footer-inner-wrapper .footer-content {
      margin-right: 870px; }
      footer.footer-outer-wrapper .footer-inner-wrapper .footer-content span {
        margin-left: 5px;
        color: #fde52c; }
    footer.footer-outer-wrapper .footer-inner-wrapper .footer-icons span {
      margin-right: 15px; }

@media (max-width: 1400px) {
  .counters-outer-wrapper .counters-inner-wrapper {
    margin-left: 100px; } }

@media (max-width: 1307px) {
  .counters-outer-wrapper .counters-inner-wrapper {
    margin-left: 150px; } }

@media (max-width: 1254px) {
  .firstBlock-outer-wrapper .firstBlock-inner-wrapper .firstBlock-content__title {
    padding-top: 50px; }
  .firstBlock-outer-wrapper .firstBlock-inner-wrapper .firstBlock-figures img {
    width: 359.1px;
    height: auto; }
  section.services-outer-wrapper .services-inner-wrapper {
    margin-left: 20px; }
    section.services-outer-wrapper .services-inner-wrapper .services-block {
      width: 290px; }
      section.services-outer-wrapper .services-inner-wrapper .services-block .services-block__figure {
        height: 150px; }
      section.services-outer-wrapper .services-inner-wrapper .services-block .services-block__title {
        font-size: 19px; }
  section.grafic-outer-wrapper .grafic-inner-wrapper .grafic-img {
    margin-right: 20px; }
    section.grafic-outer-wrapper .grafic-inner-wrapper .grafic-img img {
      width: 371.7px;
      height: auto;
      padding-left: 20px; }
  .contact-outer-wrapper .contact-inner-wrapper .contact-main-text {
    margin-right: 200px; }
  .counters-outer-wrapper .counters-inner-wrapper {
    margin-left: 100px; }
    .counters-outer-wrapper .counters-inner-wrapper .counter-block {
      margin-right: 100px; }
  section.best-outer-wrapper .best-inner-wrapper .best-figure {
    margin-right: 20px; }
    section.best-outer-wrapper .best-inner-wrapper .best-figure img {
      width: 347.9px;
      height: 367.5px; }
  section.best-outer-wrapper .best-inner-wrapper .best-content {
    padding-top: 50px; }
  .map-outer-wrapper .map-inner-wrapper {
    width: 800px; }
    .map-outer-wrapper .map-inner-wrapper .map-block {
      width: 277.5px;
      height: auto;
      padding-bottom: 50px; }
      .map-outer-wrapper .map-inner-wrapper .map-block__img img {
        width: 277.5px;
        height: auto; }
  footer.footer-outer-wrapper .footer-inner-wrapper .footer-content {
    margin-right: 650px; } }

@media (max-width: 992px) {
  header .nav-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    header .nav-wrapper .section-header__nav {
      padding-top: 25px; }
  .firstBlock-outer-wrapper .firstBlock-inner-wrapper {
    display: grid;
    grid-template-columns: auto; }
    .firstBlock-outer-wrapper .firstBlock-inner-wrapper .firstBlock-content {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2; }
      .firstBlock-outer-wrapper .firstBlock-inner-wrapper .firstBlock-content__title {
        padding-top: 25px; }
      .firstBlock-outer-wrapper .firstBlock-inner-wrapper .firstBlock-content__more {
        padding-bottom: 25px; }
    .firstBlock-outer-wrapper .firstBlock-inner-wrapper .firstBlock-figures {
      padding-top: 25px;
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1; }
  section.grafic-outer-wrapper .grafic-inner-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: auto;
    row-gap: 25px; }
  .contact-outer-wrapper .contact-inner-wrapper .contact-main-text {
    margin-right: 30px; }
  section.services-outer-wrapper .services-inner-wrapper__small {
    padding: 50px 0 40px; }
  section.services-outer-wrapper .services-inner-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 30px; }
  .counters-outer-wrapper {
    margin-top: 50px; }
    .counters-outer-wrapper .counters-inner-wrapper {
      margin-left: 30px; }
      .counters-outer-wrapper .counters-inner-wrapper .counter-block {
        padding: 60px 0;
        margin-right: 30px; }
  section.best-outer-wrapper .best-inner-wrapper {
    display: grid;
    grid-template-columns: auto;
    padding: 50px 0; }
    section.best-outer-wrapper .best-inner-wrapper .best-content {
      padding-top: 25px; }
  .quote-outer-wrapper {
    padding: 60px 30px; }
  .map-outer-wrapper {
    padding-top: 50px; }
    .map-outer-wrapper .map-inner-wrapper {
      display: grid;
      grid-template-columns: auto auto;
      row-gap: 30px;
      padding: 42px 0 50px; }
  footer.footer-outer-wrapper .footer-inner-wrapper .footer-content {
    margin-right: 350px; } }

@media (max-width: 768px) {
  header .nav-wrapper {
    text-align: center; }
    header .nav-wrapper .section-header__nav-wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      header .nav-wrapper .section-header__nav-wrapper li:not(:first-child) {
        margin-top: 10px; }
  .firstBlock-outer-wrapper .firstBlock-inner-wrapper {
    padding-left: 50px; }
  section.grafic-outer-wrapper .grafic-inner-wrapper {
    margin-left: 50px; }
    section.grafic-outer-wrapper .grafic-inner-wrapper .grafic-content__main-text {
      width: inherit; }
  .contact-outer-wrapper .contact-inner-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .contact-outer-wrapper .contact-inner-wrapper .contact-main-text {
      margin-right: 0;
      margin-bottom: 20px; }
  section.services-outer-wrapper .services-inner-wrapper__small {
    padding: 25px 0 40px; }
  section.services-outer-wrapper .services-inner-wrapper {
    display: grid;
    grid-template-columns: auto;
    row-gap: 20px; }
  .counters-outer-wrapper {
    margin-top: 25px; }
    .counters-outer-wrapper .counters-inner-wrapper {
      margin-left: 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .counters-outer-wrapper .counters-inner-wrapper .counter-block {
        padding: 0px 0;
        margin-right: 0; }
        .counters-outer-wrapper .counters-inner-wrapper .counter-block .counter-block__subtitle {
          margin-top: 5px; }
  section.best-outer-wrapper .best-inner-wrapper {
    margin-left: 50px; }
  .map-outer-wrapper .map-inner-wrapper {
    grid-template-columns: auto; }
  footer.footer-outer-wrapper .footer-inner-wrapper .footer-content {
    margin-right: 250px; } }

/*# sourceMappingURL=style.css.map */
