<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
        //- <meta name="viewport" content="width=1024"
        //- <meta name="viewport" content="width=600, initial-scale=3">
        link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="css/media.css")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        link(href!="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap", rel="stylesheet",)
        title Counsel
    body
        // ===header===
        header
            .header-wrapper
                .nav-wrapper
                    .section-header-logo Counsel
                        .section-header-logo_subtile Own your course
                    nav.section-header__nav
                        ul.section-header__nav-wrapper
                            li
                                a(href="#") About
                            li
                                a(href="#") Services
                            li
                                a(href="#") Why We Best
                            li
                                a(href="#") Testimonials
                            li
                                a(href="#") Contact
                            li
                                a(href="#")
                                    img(src="img/english.png", alt="")
                            li 
                                a(href="#")
                                    i.fa.fa-caret-down
                section.header-content-wrapper                                                 
                    nav.section-header__slider
                        span 
                            i.fa.fa-long-arrow-left
                        span
                            | previous / Next 
                        span 
                            i.fa.fa-long-arrow-right
                    .products
                        .products-main
                            | Consumer<br>
                            | Products<br>
                            | Consulting
                            section.more
                                | LEARN MORE
                        .products-ring
                            img(src="img/ring.png", alt="")
        // / ===header===

        main
            /// ===First block===            
            .firstBlock-outer-wrapper
                .firstBlock-inner-wrapper
                    .firstBlock-content
                        .firstBlock-content__title
                            |Take away the risk & you
                            |can do anything.
                        .firstBlock-content__subtitle
                            |Rapid solutions to the most complex business
                            |challenges with cooperative process-driven.
                        .firstBlock-content__main-text
                            |Integer blandit ultricies aliquam. Pellentesque quis dui varius, dapibus velit id, iaculis ipsum. Morbi ac eros feugiat, lacinia elit ut, elem turpis.Curabitur justo sapien, tempus sit amet rutrum eu, commodo eu lacus. Morbi in ligula nibh. Maecenas ut mi at odio hendrerit eleifend tempor.
                            |justo sapien, tempus 
                        .firstBlock-content__more
                            |Take a Tour
                    .firstBlock-figures
                        img(src="img/firstBlockImg.png", alt="")
            /// / ===First block===  

            // ===Grafic===
            .grafic-outer-wrapper
                .grafic-inner-wrapper
                    .grafic-img
                        img(src="img/graph.png", alt="")
                    .grafic-content
                        .grafic-content__title
                            |Constructingthe  best in class global assets.
                        .grafic-content__subtitle
                            |Rapid solutions to the most complex business challenges with cooperative process-driven.
                        .grafic-content__main-text
                            |Integer blandit ultricies aliquam. Pellentesque quis dui varius, dapibus velit id, iaculis ipsum. Morbi ac eros feugiat, lacinia elit ut, elementum turpis.Curabitur justo sapien, tempus sit amet rutrum eu, commodo eu lacus. Morbi in ligula nibh. Maecenas ut mi at odio hendrerit eleifend tempor.Integer blandit ultricies aliquam. Pellentesque quis dui varius, dapibus velit id, iaculis ipsum. Morbi ac eros feugiat, lacinia elit ut, elementum turpis.Curabitur justo sapien, tempus sit amet rutrum eu, commodo eu lacus. Morbi in ligula nibh. 
                        .grafic-content__more
                            |Take a Tour
            // / ===Grafic===
            
            // ===Contact===
            section.contact-outer-wrapper
                .contact-inner-wrapper
                    .contact-main-text
                        |Looking for a First-Class Business Plan Consultant?
                    .contact-button
                        input(type="button", value="Contact Now")
            // / ===Contact===

            /// ===Services===
            section.services-outer-wrapper
                .services-inner-wrapper__small
                    .services-title
                        |Popular Services
                    .services-subtitle
                        |Rapid solutions to the most complex business challenges<br> with cooperative process-driven.
                .services-inner-wrapper
                    .services-block
                        .services-block__figure
                        .services-block__title
                            |Turnaround Consulting
                        .services-block__subtitle
                            |Companies dislike the term ‘turnaround consulting’ because it represents failure. The truth is that turnaround consulting represents success.
                    .services-block
                        .services-block__figure
                        .services-block__title
                            |Bonds & Commodities
                        .services-block__subtitle
                            |Companies dislike the term ‘turnaround consulting’ because it represents failure. The truth is that turnaround consulting represents success.
                    .services-block
                        .services-block__figure
                        .services-block__title
                            |Audit & Assurance
                        .services-block__subtitle
                            |Companies dislike the term ‘turnaround consulting’ because it represents failure. The truth is that turnaround consulting represents success.
            /// / ===Services===        

            /// ===Couters===
            section.counters-outer-wrapper
                .counters-inner-wrapper
                    .counter-block
                        .counter-block__title 7890
                        .counter-block__subtitle Coffee cups
                    .counter-block
                        .counter-block__title 1M
                        .counter-block__subtitle subscribers
                    .counter-block
                        .counter-block__title 1509
                        .counter-block__subtitle customers
                    .counter-block
                        .counter-block__title 5972
                        .counter-block__subtitle purchases
            /// / ===Counters===

            // ===Best ===            
            section.best-outer-wrapper
                .best-inner-wrapper
                    .best-figure
                        img(src="img/player.png", alt="")
                    .best-content
                        .best-content__title
                            |Why  we best Consulting 
                            |office in london ?
                        .best-content__subtitile
                            |Rapid solutions to the most complex business challenges with cooperative process-driven.
                        .best-content__main-text
                            |Integer blandit ultricies aliquam. Pellentesque quis dui varius, dapibus velit id, iaculis ipsum. Morbi ac eros feugiat, lacinia elit ut, elem turpis.Curabitur justo sapien, tempus sit amet rutrum eu, commodo eu lacus. Morbi in ligula nibh. Maecenas ut mi at odio hendrerit eleifend tempor.
                            |justo sapien, tempus 
                        .best-content__more
                            |Our services
            // / ===Best===
            
            section.quote-outer-wrapper.quote
                .quote-inner-wrapper
                    .quote__title “
                    .quote__main-text
                        |Lorem ipsum do`lor sit amet, consectetur adipisicing elit
                        |Seddo eiusmod tempor incididunt ut labore Standard Dummy aliqua. Utenim adminim veniam, quis nostrud exercitation ullamco laboris nisi ut Unknown Printer The Commodo consequat. Duis aute irure dolor.
                        |Voluptate velit esse cillum dolore eu fugiat nullapariatur.
                    .quote__subtitle SAM ISBISTER
            
            /// ===Map===
            section.map-outer-wrapper.map
                .map-outer-wrapper-small
                    .title Contact with us
                    .subtitle
                        |Rapid solutions to the most complex business challenges<br>
                        |with cooperative process-driven.
                .map-inner-wrapper
                    .map-block
                        .map-block__img
                            img(src="img/map.png", alt="")
                        .map-block__content
                            .map-block__content-title 
                                    |Head Quarter
                            .map-block__content-contact
                                span.icon
                                    i.fas.fa-map-marker-alt
                                span.text
                                    |14 Mao Road, N1 4EP,<br>
                                    |Los Angelos, USA
                            .map-block__content-contact
                                span.icon
                                    i.fas.fa-mobile-alt
                                span.text
                                    |+445 6231 411
                            .map-block__content-contact 
                                span
                                    i.fas.fa-envelope
                                span
                                    |+445 6231 411
                    .map-block
                        .map-block__img
                            img(src="img/map.png", alt="")
                        .map-block__content
                            .map-block__content-title California office
                            .map-block__content-contact
                                span.icon
                                    i.fas.fa-map-marker-alt
                                span
                                    |14 Mao Road, N1 4EP,<br>
                                    |Los Angelos, USA
                            .map-block__content-contact 
                                span.icon
                                    i.fas.fa-mobile-alt
                                span
                                    |+445 6231 411
                            .map-block__content-contact
                                span
                                    i.fas.fa-envelope 
                                span
                                    |+445 6231 411
                    .map-block
                        .map-block__img 
                            img(src="img/map.png", alt="")
                        .map-block__content
                            .map-block__content-title London office
                            .map-block__content-contact
                                span.icon
                                    i.fas.fa-map-marker-alt
                                span
                                    |14 Mao Road, N1 4EP,<br> 
                                    |Los Angelos, USA
                            .map-block__content-contact 
                                span.icon
                                    i.fas.fa-mobile-alt
                                span
                                    |+445 6231 411
                            .map-block__content-contact 
                                span
                                    i.fas.fa-envelope
                                span
                                    |+445 6231 411
            /// / ===Map===

        footer.footer-outer-wrapper
            .footer-inner-wrapper
                .footer-content
                    |Copyright ©
                    span BriWS
                .footer-icons
                    span 
                        i.fab.fa-facebook-f
                    span
                        i.fab.fa-twitter
                    span
                        i.fab.fa-google-plus-g
                    span
                        i.fab.fa-instagram
            script(src="https://kit.fontawesome.com/d10789e72e.js", crossorigin="anonymous")



                



                

