<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/swiper-bundle.min.css")
        link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        link(href!="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap", rel="stylesheet",)
        title Counsel
    body
        //- a(href="#").scrollToTop(onclick="topFunction()", id="myBtn")
            img(src="img/scrollToTop.png", alt="")
        header.burgerPlace
            section.top.wrapper
                .section-header-logo Counsel
                    .section-header-logo_subtile Own your course
                nav.section-header__nav
                    a(href="#about") About
                    a(href="#services") Services
                    a(href="#best") Why We Best
                    a(href="#testimonials") Testimonials
                    a(href="#contact") Contact
                    a(href="#")
                        img(src="img/english.png", alt="")
                    a(href="#")
                        i.fa.fa-caret-down
                .burgerIcon
                    a.burgerIconSymbol(href="#") ☰
            section.swiper.wrapper                                                 
                .control
                    a(href="#").swiper-prev
                        span 
                            i.fa.fa-long-arrow-left
                        span previous
                    span.separator | 
                    a(href="#").swiper-next        
                        span.buttonRight
                            span next
                            i.fa.fa-long-arrow-right
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            img(src="img/slide1.png", alt="")
                        .swiper-slide
                            img(src="img/slide2.png", alt="")
                        .swiper-slide
                            img(src="img/slide3.png", alt="")
                        .swiper-slide
                            img(src="img/slide4.png", alt="")
                    .swiper-pagination
        main
            section.firstBlock.wrapper
                .content
                    .title.common-title 
                        |Take away the risk & you
                        |can do anything.
                    .subtitle.common-subtitle
                        |Rapid solutions to the most complex business
                        |challenges with cooperative process-driven.
                    .main-text.common-main-text
                        |Integer blandit ultricies aliquam. Pellentesque quis dui varius, dapibus velit id, iaculis ipsum. Morbi ac eros feugiat, lacinia elit ut, elem turpis.Curabitur justo sapien, tempus sit amet rutrum eu, commodo eu lacus. Morbi in ligula nibh. Maecenas ut mi at odio hendrerit eleifend tempor.
                        |justo sapien, tempus 
                    .more.common-more
                        |Take a Tour
                .figures
                    img(src="img/firstBlockImg.png", alt="")
            section.grafic
                a(name="about")
                .grafic-inner.wrapper
                    .grafic-img
                        img(src="img/graph.png", alt="")
                    .grafic-content
                        .title.common-title
                            |Constructing the best in class global assets.
                        .subtitle.common-subtitle
                            |Rapid solutions to the most complex business challenges with cooperative process-driven.
                        .main-text.common-main-text
                            |Integer blandit ultricies aliquam. Pellentesque quis dui varius, dapibus velit id, iaculis ipsum. Morbi ac eros feugiat, lacinia elit ut, elementum turpis.Curabitur justo sapien, tempus sit amet rutrum eu, commodo eu lacus. Morbi in ligula nibh. Maecenas ut mi at odio hendrerit eleifend tempor.Integer blandit ultricies aliquam. Pellentesque quis dui varius, dapibus velit id, iaculis ipsum. Morbi ac eros feugiat, lacinia elit ut, elementum turpis.Curabitur justo sapien, tempus sit amet rutrum eu, commodo eu lacus. Morbi in ligula nibh. 
                        .more.common-more
                            |Take a Tour
            section.contact
                .contact-inner.wrapper
                    .main-text
                        |Looking for a First-Class Business Plan Consultant?
                    .button
                        input(type="button", value="Contact Now", onClick='location.href="#contact"')
            section.services.wrapper
                a(name="services")
                .centerBlock
                    .title.common-title 
                        |Popular Services
                    .subtitle.common-subtitle
                        |Rapid solutions to the most complex business challenges<br> with cooperative process-driven.
                .centerServiceBlock
                    .serviceBlock
                        .figure
                        .title.common-title 
                            |Turnaround Consulting
                        .subtitle.common-subtitle
                            |Companies dislike the term ‘turnaround consulting’ because it represents failure. The truth is that turnaround consulting represents success.
                    .serviceBlock
                        .figure
                        .title.common-title 
                            |Bonds & Commodities
                        .subtitle.common-subtitle
                            |Companies dislike the term ‘turnaround consulting’ because it represents failure. The truth is that turnaround consulting represents success.
                    .serviceBlock
                        .figure
                        .title.common-title 
                            |Audit & Assurance
                        .subtitle.common-subtitle
                            |Companies dislike the term ‘turnaround consulting’ because it represents failure. The truth is that turnaround consulting represents success.
            section.counters
                a(name="testimonials")
                .inner-wrapper.wrapper
                    .counter-block
                        .counter-block__title 7890
                        .counter-block__subtitle Coffee cups
                    .counter-block
                        .counter-block__title 1M
                        .counter-block__subtitle subscribers
                    .counter-block
                        .counter-block__title 1509
                        .counter-block__subtitle customers
                    .counter-block
                        .counter-block__title 5972
                        .counter-block__subtitle purchases
            section.best.wrapper
                .figure
                    a(name="best")
                    img(src="img/player.png", alt="")
                .content
                    .best-content__title.common-title 
                        |Why  we best Consulting 
                        |office in london ?
                    .best-content__subtitile.common-subtitle
                        |Rapid solutions to the most complex business challenges with cooperative process-driven.
                    .best-content__main-text.common-main-text
                        |Integer blandit ultricies aliquam. Pellentesque quis dui varius, dapibus velit id, iaculis ipsum. Morbi ac eros feugiat, lacinia elit ut, elem turpis.Curabitur justo sapien, tempus sit amet rutrum eu, commodo eu lacus. Morbi in ligula nibh. Maecenas ut mi at odio hendrerit eleifend tempor.
                        |justo sapien, tempus 
                    .best-content__more.common-more
                        |Our services
            section.quote
                .inner-wrapper.wrapper
                    .quote__title “
                    .quote__main-text
                        |Lorem ipsum do`lor sit amet, consectetur adipisicing elit
                        |Seddo eiusmod tempor incididunt ut labore Standard Dummy aliqua. Utenim adminim veniam, quis nostrud exercitation ullamco laboris nisi ut Unknown Printer The Commodo consequat. Duis aute irure dolor.
                        |Voluptate velit esse cillum dolore eu fugiat nullapariatur.
                    .quote__subtitle SAM ISBISTER
            
            section.map
                a(name="contact")
                .top
                    .title.common-title Contact with us
                    .subtitle.common-subtitle
                        |Rapid solutions to the most complex business challenges<br>
                        |with cooperative process-driven.
                .maps
                    .map-block
                        .map-block__img
                            img(src="img/map.png", alt="")
                        .map-block__content
                            .map-block__content-title 
                                    |Head Quarter
                            .map-block__content-contact
                                span.icon
                                    i.fas.fa-map-marker-alt
                                span.text
                                    |14 Mao Road, N1 4EP,<br>
                                    |Los Angelos, USA
                            .map-block__content-contact
                                span.icon
                                    i.fas.fa-mobile-alt
                                span.text
                                    |+445 6231 411
                            .map-block__content-contact 
                                span
                                    i.fas.fa-envelope
                                span
                                    |+445 6231 411
                    .map-block
                        .map-block__img
                            img(src="img/map.png", alt="")
                        .map-block__content
                            .map-block__content-title California office
                            .map-block__content-contact
                                span.icon
                                    i.fas.fa-map-marker-alt
                                span
                                    |14 Mao Road, N1 4EP,<br>
                                    |Los Angelos, USA
                            .map-block__content-contact 
                                span.icon
                                    i.fas.fa-mobile-alt
                                span
                                    |+445 6231 411
                            .map-block__content-contact
                                span
                                    i.fas.fa-envelope 
                                span
                                    |+445 6231 411
                    .map-block
                        .map-block__img 
                            img(src="img/map.png", alt="")
                        .map-block__content
                            .map-block__content-title London office
                            .map-block__content-contact
                                span.icon
                                    i.fas.fa-map-marker-alt
                                span
                                    |14 Mao Road, N1 4EP,<br> 
                                    |Los Angelos, USA
                            .map-block__content-contact 
                                span.icon
                                    i.fas.fa-mobile-alt
                                span
                                    |+445 6231 411
                            .map-block__content-contact 
                                span
                                    i.fas.fa-envelope
                                span
                                    |+445 6231 411

        footer
            script(src="https://kit.fontawesome.com/d10789e72e.js", crossorigin="anonymous")
            script(src="js/swiper-bundle.min.js")
            script(src="js/script.js")
            .footer-inner.wrapper
                .footer-content
                    |Copyright ©
                    span Symu.co
                .footer-icons
                    span 
                        i.fab.fa-facebook-f
                    span
                        i.fab.fa-twitter
                    span
                        i.fab.fa-google-plus-g
                    span
                        i.fab.fa-instagram
            .contacts
                p Site created by BriWS
                a(href="https://t.me/brightwiths")
                    img(src="img/telegram.png", alt="")
                p 2020
            
            



                



                

